.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row span {
  margin-top: 18px;
}

.pointer-cover {position: relative;}
.icon-row .pointer {
  right: 15px;
  top: -20px;
}
.pointer {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: block;
  position: absolute;
  right: -5px;
  top:-10px;
}